* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}
.battery {
    position: relative;
    border: 5px solid #FF6666;
    width: 200px;
    height: 80px;
    border-radius: 5px;

}
.battery::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    height: 68px;
    width: 0px;
    background-color: #FF6666;
    border-radius: 5px;
    animation: charging 8s linear infinite;
}
.battery::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 104%;
    height: 40px;
    width: 10px;
    background-color: #FF6666;
    border-bottom-right-radius:90px ;
    border-top-right-radius:90px ;
}
@keyframes charging {
    to {
        width: 100%;
    }
}

